<script src="https://unpkg.com/htmx.org@1.1.0" integrity="sha384-JVb/MVb+DiMDoxpTmoXWmMYSpQD2Z/1yiruL8+vC6Ri9lk6ORGiQqKSqfmCBbpbX" crossorigin="anonymous"></script>
<script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<Tweet>
@if (Model.Any())
{

    @foreach (var tweet in ViewBag.Tweets)
    {
        @Html.Raw(tweet.Html);
    }
    <div hx-get="@Url.Action("LoadTweets", "Home", new { after = (Model.Last().DateTime), AreChecked = ViewBag.checkedTags })"
         hx-trigger="revealed"
         hx-swap="outerHTML">
    </div>
    <script type="text/javascript">twttr.widgets.load()</script>
    //render newly added blockquotes to embeds
}
else
{
    <p class="text-center">That's all, folks!</p>
}